* {
margin: 0;
padding: 0;
}
body {
    background-color: white;


}

nav {
    width: 100%;
    height: 100px;
    background-color: #eee;
}

ul {
    list-style: none;
    padding-left: 65%;
    
}

ul li {

    display: inline-block;
    float: left;
    
}

ul li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #1e1e1e;
    line-height: 100px;
    padding: 0 20px;
}

ul li a:hover{
    color: tomato;
}

#orange-head{
    color: orange;
}
.head-img-section{

}

h1{
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;

}

.half-para{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 25px 0px 40px 0px;
    line-height: 30px;
}
.button{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: tomato;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px 0px;
    font-weight: 600;

}

div a:hover{
    color: darkblue;

}

.half-width{
    width: 40%;
    float: left;
    padding: 4%;
    text-align: center;
    
}
img{
    width: 100%;
    height: 100%;
    
}
#top-corner-section{
    padding-top: 15%;
}
h3{
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}
#second--seccond-section{
    margin-top: 9%;
}
.third-section{
    width: 100%;
    height: 800px;
    background-color: #eee;
    
    
}
.one-third{
    width: 30%;
    padding: 200px 0px 0px 40px;
    float: left;

}
h4{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px;
}
section{
    float: left;
}
#red-head{
    color: tomato;
}